In [8]:
from scipy.io import arff
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, OrdinalEncoder

path = "../datasets/"
data = arff.loadarff('%sSeattle_Crime_Data_06-23-2019-4.arff' % path)
df = pd.DataFrame(data[0])
for column in df.columns:
    # decode bytes to string for each column
    df[column] = df[column].apply(lambda x: x.decode() if isinstance(x, bytes) else x)

df

,Report_Number,Occurred_Time,Reported_Time,Crime_Subcategory,Primary_Offense_Description,Precinct,Sector,Beat,Neighborhood
0,1.975000e+12,900.0,1500.0,BURGLARY-RESIDENTIAL,BURGLARY-FORCE-RES,SOUTH,R,R3,LAKEWOOD/SEWARD PARK
1,1.976000e+12,1.0,2359.0,SEX OFFENSE-OTHER,SEXOFF-INDECENT LIBERTIES,UNKNOWN,?,?,UNKNOWN
2,1.979000e+12,1600.0,1430.0,CAR PROWL,THEFT-CARPROWL,EAST,G,G2,CENTRAL AREA/SQUIRE PARK
3,1.981000e+13,2029.0,2030.0,HOMICIDE,HOMICIDE-PREMEDITATED-WEAPON,SOUTH,S,S2,BRIGHTON/DUNLAP
4,1.981000e+12,2000.0,435.0,BURGLARY-RESIDENTIAL,BURGLARY-FORCE-RES,SOUTHWEST,W,W3,ROXHILL/WESTWOOD/ARBOR HEIGHTS
...,...,...,...,...,...,...,...,...,...
523585,2.019000e+12,1713.0,1713.0,FAMILY OFFENSE-NONVIOLENT,CHILD-OTHER,SOUTH,O,O3,MID BEACON HILL
523586,2.019000e+12,730.0,1721.0,BURGLARY-RESIDENTIAL,BURGLARY-FORCE-RES,EAST,C,C2,MONTLAKE/PORTAGE BAY
523587,2.019000e+12,1724.0,1724.0,ROBBERY-COMMERCIAL,ROBBERY-BUSINESS-BODYFORCE,SOUTH,S,S2,RAINIER BEACH
523588,2.019000e+12,1750.0,1904.0,THEFT-SHOPLIFT,THEFT-SHOPLIFT,NORTH,L,L2,NORTHGATE
523589,2.019000e+12,1800.0,2237.0,THEFT-ALL OTHER,THEFT-OTH,NORTH,N,N1,BITTERLAKE

In [9]:
for column in df.columns:
    if df.columns.dtype == object:
        print(column + "=" * 40)
        value_counts = df[column].value_counts()
        print(value_counts)

Report_Number========================================
Report_Number
1.975000e+12    1
2.015000e+13    1
2.015000e+13    1
2.015000e+13    1
2.015000e+13    1
               ..
2.012000e+13    1
2.012000e+13    1
2.012000e+13    1
2.012000e+13    1
2.019000e+12    1
Name: count, Length: 523590, dtype: int64
Occurred_Time========================================
Occurred_Time
2200.0    13858
1800.0    13804
0.0       13420
2000.0    12836
1200.0    12598
          ...
649.0        40
607.0        39
546.0        39
627.0        37
551.0        36
Name: count, Length: 1440, dtype: int64
Reported_Time========================================
Reported_Time
1300.0    824
1600.0    809
1530.0    799
1400.0    790
1230.0    787
         ...
501.0      89
333.0      89
542.0      85
417.0      85
349.0      85
Name: count, Length: 1440, dtype: int64
Crime_Subcategory========================================
Crime_Subcategory
CAR PROWL                              148263
THEFT-ALL OTHER                         54419
THEFT-SHOPLIFT                          48638
BURGLARY-RESIDENTIAL                    46843
MOTOR VEHICLE THEFT                     43529
BURGLARY-COMMERCIAL                     23531
THEFT-BUILDING                          21438
TRESPASS                                17722
NARCOTIC                                17381
AGGRAVATED ASSAULT                      15640
DUI                                     12838
ROBBERY-STREET                          11882
THEFT-BICYCLE                           11091
BURGLARY-RESIDENTIAL-SECURE PARKING      8852
AGGRAVATED ASSAULT-DV                    6922
FAMILY OFFENSE-NONVIOLENT                6855
SEX OFFENSE-OTHER                        6396
WEAPON                                   4987
ROBBERY-COMMERCIAL                       4660
PROSTITUTION                             3609
RAPE                                     2023
LIQUOR LAW VIOLATION                     1651
BURGLARY-COMMERCIAL-SECURE PARKING       1164
ARSON                                    1071
ROBBERY-RESIDENTIAL                      1062
DISORDERLY CONDUCT                        283
HOMICIDE                                  275
?                                         262
PORNOGRAPHY                               195
LOITERING                                  91
GAMBLE                                     17
Name: count, dtype: int64
Primary_Offense_Description========================================
Primary_Offense_Description
THEFT-CARPROWL                   131297
THEFT-SHOPLIFT                    48638
THEFT-OTH                         47275
VEH-THEFT-AUTO                    37840
BURGLARY-FORCE-RES                27984
                                  ...
NARC-SMUGGLE-HEROIN                   1
HOMICIDE-NEG-MANS-GUN                 1
NARC-SELL-BARBITUATE                  1
NARC-MANUFACTURE-HALLUCINOGEN         1
HOMICIDE-NEG-MANS-WEAPON              1
Name: count, Length: 144, dtype: int64
Precinct========================================
Precinct
NORTH        168392
WEST         150613
EAST          77475
SOUTH         74426
SOUTHWEST     49332
UNKNOWN        3346
?                 6
Name: count, dtype: int64
Sector========================================
Sector
M       42976
U       40699
K       38022
B       37984
D       35435
E       35038
Q       34180
R       32278
L       31833
N       29150
J       28726
S       26476
W       25745
F       23587
C       22597
G       19840
O       15672
?        3346
W2          1
H           1
SW          1
6804        1
SE          1
9512        1
Name: count, dtype: int64
Beat========================================
Beat
K3      16939
U1      14989
M1      14547
L2      14532
Q3      14329
        ...
H1          1
CS          1
LAPT        1
WS          1
K           1
Name: count, Length: 65, dtype: int64
Neighborhood========================================
Neighborhood
DOWNTOWN COMMERCIAL                 48942
NORTHGATE                           30820
CAPITOL HILL                        30735
QUEEN ANNE                          27402
SLU/CASCADE                         23343
UNIVERSITY                          20868
ROOSEVELT/RAVENNA                   19451
BALLARD SOUTH                       15611
CHINATOWN/INTERNATIONAL DISTRICT    15401
BELLTOWN                            15370
FIRST HILL                          13991
LAKECITY                            13563
CENTRAL AREA/SQUIRE PARK            12217
GREENWOOD                           11405
BALLARD NORTH                       11109
SANDPOINT                           10649
FREMONT                             10242
WALLINGFORD                         10008
BITTERLAKE                           9998
NORTH BEACON HILL                    9282
SODO                                 8889
PIONEER SQUARE                       8817
ROXHILL/WESTWOOD/ARBOR HEIGHTS       8220
MAGNOLIA                             7875
ALASKA JUNCTION                      7089
BRIGHTON/DUNLAP                      7070
MOUNT BAKER                          7029
MADRONA/LESCHI                       6568
GEORGETOWN                           6003
RAINIER BEACH                        5880
MID BEACON HILL                      5865
HIGHLAND PARK                        5633
RAINIER VIEW                         5492
NORTH ADMIRAL                        4953
PHINNEY RIDGE                        4675
MORGAN                               4471
JUDKINS PARK/NORTH BEACON HILL       4140
SOUTH PARK                           4029
MONTLAKE/PORTAGE BAY                 3719
NORTH DELRIDGE                       3554
EASTLAKE - WEST                      3465
HIGH POINT                           3445
MILLER PARK                          3433
LAKEWOOD/SEWARD PARK                 3396
COLUMBIA CITY                        3385
UNKNOWN                              3366
NEW HOLLY                            3194
HILLMAN CITY                         2632
CLAREMONT/RAINIER VISTA              2507
ALKI                                 2485
FAUNTLEROY SW                        2375
SOUTH BEACON HILL                    2251
SOUTH DELRIDGE                       1973
MADISON PARK                         1789
GENESEE                              1552
EASTLAKE - EAST                       860
PIGEON POINT                          609
COMMERCIAL DUWAMISH                   318
COMMERCIAL HARBOR ISLAND              177
Name: count, dtype: int64

# Preprocessing

In [10]:
print(df.columns)
df = df.drop('Report_Number', axis=1)
df

Index(['Report_Number', 'Occurred_Time', 'Reported_Time', 'Crime_Subcategory',
       'Primary_Offense_Description', 'Precinct', 'Sector', 'Beat',
       'Neighborhood'],
      dtype='object')

,Occurred_Time,Reported_Time,Crime_Subcategory,Primary_Offense_Description,Precinct,Sector,Beat,Neighborhood
0,900.0,1500.0,BURGLARY-RESIDENTIAL,BURGLARY-FORCE-RES,SOUTH,R,R3,LAKEWOOD/SEWARD PARK
1,1.0,2359.0,SEX OFFENSE-OTHER,SEXOFF-INDECENT LIBERTIES,UNKNOWN,?,?,UNKNOWN
2,1600.0,1430.0,CAR PROWL,THEFT-CARPROWL,EAST,G,G2,CENTRAL AREA/SQUIRE PARK
3,2029.0,2030.0,HOMICIDE,HOMICIDE-PREMEDITATED-WEAPON,SOUTH,S,S2,BRIGHTON/DUNLAP
4,2000.0,435.0,BURGLARY-RESIDENTIAL,BURGLARY-FORCE-RES,SOUTHWEST,W,W3,ROXHILL/WESTWOOD/ARBOR HEIGHTS
...,...,...,...,...,...,...,...,...
523585,1713.0,1713.0,FAMILY OFFENSE-NONVIOLENT,CHILD-OTHER,SOUTH,O,O3,MID BEACON HILL
523586,730.0,1721.0,BURGLARY-RESIDENTIAL,BURGLARY-FORCE-RES,EAST,C,C2,MONTLAKE/PORTAGE BAY
523587,1724.0,1724.0,ROBBERY-COMMERCIAL,ROBBERY-BUSINESS-BODYFORCE,SOUTH,S,S2,RAINIER BEACH
523588,1750.0,1904.0,THEFT-SHOPLIFT,THEFT-SHOPLIFT,NORTH,L,L2,NORTHGATE
523589,1800.0,2237.0,THEFT-ALL OTHER,THEFT-OTH,NORTH,N,N1,BITTERLAKE

In [11]:
one_hot_encoding_limit = 10

ordinal_Encoder = OrdinalEncoder()
one_hot_encoder = OneHotEncoder()

for column in df.columns:
    if column in ['Occurred_Time', 'Reported_Time']:
        continue

    unique_values = df[column].nunique()

    if unique_values == 1:
        data.drop(column)
        continue
    if unique_values <= one_hot_encoding_limit:
        encoded_features = one_hot_encoder.fit_transform(df[[column]])
        encoded_features_df = pd.DataFrame(encoded_features.toarray(),
                                           columns=one_hot_encoder.get_feature_names_out([column]))
        df = pd.concat([df, encoded_features_df], axis=1)
        df.drop(column, axis=1, inplace=True)
    else:
        df[column] = ordinal_Encoder.fit_transform(df[[column]])

df

,Occurred_Time,Reported_Time,Crime_Subcategory,Primary_Offense_Description,Sector,Beat,Neighborhood,Precinct_?,Precinct_EAST,Precinct_NORTH,Precinct_SOUTH,Precinct_SOUTHWEST,Precinct_UNKNOWN,Precinct_WEST
0,900.0,1500.0,6.0,18.0,17.0,50.0,28.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,1.0,2359.0,24.0,112.0,2.0,0.0,57.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1600.0,1430.0,8.0,123.0,8.0,20.0,8.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,2029.0,2030.0,13.0,43.0,18.0,53.0,6.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,2000.0,435.0,6.0,18.0,22.0,62.0,49.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
523585,1713.0,1713.0,11.0,29.0,15.0,44.0,32.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
523586,730.0,1721.0,6.0,18.0,4.0,5.0,34.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
523587,1724.0,1724.0,21.0,99.0,18.0,53.0,46.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
523588,1750.0,1904.0,28.0,130.0,12.0,32.0,41.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
523589,1800.0,2237.0,25.0,127.0,14.0,39.0,5.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [12]:
# split dataframe to features and target
X = df.drop('Primary_Offense_Description', axis=1)  # Features
y = df['Primary_Offense_Description']            #target 

# split into training and test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
X_train

,Occurred_Time,Reported_Time,Crime_Subcategory,Sector,Beat,Neighborhood,Precinct_?,Precinct_EAST,Precinct_NORTH,Precinct_SOUTH,Precinct_SOUTHWEST,Precinct_UNKNOWN,Precinct_WEST
6916,2108.0,2108.0,17.0,14.0,41.0,41.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
70131,2100.0,623.0,6.0,14.0,40.0,5.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
64578,2130.0,1033.0,16.0,5.0,11.0,51.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
30304,2150.0,2335.0,17.0,18.0,52.0,37.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
218777,1858.0,1858.0,25.0,18.0,53.0,6.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
259178,711.0,711.0,2.0,10.0,26.0,22.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
365838,500.0,822.0,8.0,10.0,26.0,48.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
131932,1135.0,1151.0,28.0,13.0,37.0,14.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
146867,2100.0,105.0,6.0,21.0,56.0,48.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
121958,1952.0,1952.0,1.0,13.0,37.0,14.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0